.wrapper {
    background-color: rgba(249, 249, 251, 1);
}
.faqs__container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.faqs__main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 5px 0px 5px;
}
.faqs__left_side {
    max-width: 421px;
    margin-right: 80px
}
.faqs__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 80px;
    color: rgba(28, 28, 30, 1);
    .faqs__span{
        font-weight: 400;
    }
}
.faqs__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(99, 99, 102, 1);
    margin: 16px 0px 48px 0px;
}
.faqs__button {
    width: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 56px;
    padding: 16px 40px 16px 40px;
    border-radius: 24px;
    border: none;
    transition: 0.3s ease;
    background-color: rgba(188, 255, 94, 1);
    &:hover {
        background-color: #00C566;
        transition: 0.3s ease;
        color: #FFFFFF;
    }
}
.faqs__right_side {
   max-width: 699px;
}
.faqs__right__s_title {
    font-weight: 500;
    font-size: 24px;
    max-width: 504px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: rgba(28, 28, 30, 1);
}
.faqs__button__accardeon {
    width: 100%;
    gap: 30px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    padding: 0%;
    color: rgba(28, 28, 30, 1);
    position: relative;
    align-items: center;
    background-color: transparent;
    border: none;
    &:first-child {
        margin-top: 36px;
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid rgba(28, 28, 30, 1);
    transition: 0.3s ease;
    right: 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 15px;
        z-index: 25;
        height: 2px;
        transition: 0.3s ease;
        background-color: rgba(28, 28, 30, 1);
        right: 0.7%;
    }
    .line__span {
        opacity: 0;
        transition: 0.3s ease;
        position: absolute;
        transform: rotateZ(0deg);
        width: 15px;
        z-index: 25;
        height: 2px;
        background-color: rgba(28, 28, 30, 1);
        right: 0.7%;
    }
}
.faqs__accardeon {
    color: rgba(99, 99, 102, 1);
    font-size: 16px;
    transition: 0.3s ease;
    line-height: 24px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}
.activeMode {
        &:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: rgb(0, 0, 0);
        transition: 0.3s ease;
        border-radius: 50px;
        border: 1px solid rgba(28, 28, 30, 1);
        right: 0;
        }
        &::before {
            content: "";
            position: absolute;
            width: 15px;
            z-index: 25;
            transform: rotateZ(180deg);
            right: 0.7%;
            background-color: rgb(255, 255, 255);
        }
        .line__span {
            opacity: 1;
            position: absolute;
            transition: 0.3s ease;
            transform: rotateZ(90deg);
            width: 15px;
            z-index: 25;
            height: 2px;
            background-color: rgb(255, 255, 255);
            right: 0.7%;
        }
}
@media(max-width:934.99px) {
    .faqs__left_side {
        margin-right: 5px
    }
}
@media(max-width:810.99px) {
    .faqs__main {
        flex-direction: column;
    }
}
@media(max-width:530.99px) {
    .faqs__main {
        flex-direction: column;
    }
    .faqs__button__accardeon {
        font-size: 18px;
        max-width: 320px;
        &:nth-child(3n - 1) {
                &::before {
                    right: 1.5%;
                    bottom: 42%;
                }
                .line__span {
                    right: 1.5%;
                    bottom: 42%;
                }
        }
    }
.faqs__button__accardeon {
    &:after {
    right: 0;
    bottom: 0;
    }
    &::before {
        right: 1.5%;
        bottom: 22%;
    }
    .line__span {
        right: 1.5%;
        bottom: 22%;
    }
}
.activeMode {
    &::before {
        background-color: rgb(255, 255, 255);
    }
    .line__span {
        opacity: 1;
        background-color: rgb(255, 255, 255);
        right: 1.5%;
        bottom: 22%;
    }
}
}