.swiper {
    margin-top: 150px;
    position: relative;
    margin-bottom: 200px;
}
.swipper__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1440px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 400px;
}
.swiper__slide {
    display: flex;
    width: auto;
    position: relative;
    transition: 1s ease;
}
.swiper__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 58px;
    height: 8px;
.swiper__bullet {
    position: absolute;
    border-radius: 8px;
    &:first-child {
        left: 10%;
        width: 8px;
        height: 8px;
    }
    &:last-child {
        position: absolute;
        left: 45%;
        border-radius: 100%;
        width: 8px;
        height: 8px;
    }
    &:nth-child(3n - 1) {
        position: absolute;
        right: 10%;
        border-radius: 100%;
        width: 8px;
        height: 8px;
    }
}
}
.bullet__hidden {
    background-color: rgba(174, 174, 178, 1);
}
[data-bullet] {
    background-color: rgba(6, 75, 180, 1);
}
.swiper__button__prev {
    width: 32px;
    cursor: pointer;
    height: 32px;
    bottom: -4%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .swipper__array {
        position: absolute;
        height: 2px;
        width: 24.44px;
        background-color: rgba(28, 28, 30, 1);
        &:last-child {
            position: absolute;
            transform: rotateZ(135deg);
            right: 1%;
            bottom: 31%;
            height: 2px;
            width: 14.44px;
            background-color: rgba(28, 28, 30, 1);
        }
        &:nth-child(3n - 1) {
            position: absolute;
            transform: rotateZ(-135deg);
            right: 1%;
            top:  30%;
            height: 2px;
            width: 14.44px;
            background-color: rgba(28, 28, 30, 1);
        }
    }
}
.swiper__buttons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swiper__button__next {
    width: 32px;
    cursor: pointer;
    height: 32px;
    bottom: -4%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(180deg);
    position: relative;
    .swipper__array_next {
        position: absolute;
        height: 2px;
        width: 24.44px;
        background-color: rgba(28, 28, 30, 1);
        &:last-child {
            position: absolute;
            transform: rotateZ(135deg);
            right: 1%;
            bottom: 30%;
            height: 2px;
            width: 14.44px;
            background-color: rgba(28, 28, 30, 1);
        }
        &:nth-child(3n - 1) {
            position: absolute;
            transform: rotateZ(-135deg);
            right: 1%;
            top:  30%;
            height: 2px;
            width: 14.44px;
            background-color: rgba(28, 28, 30, 1);
        }
    }
}
.swiper__slide__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 676px;
}
.swiper__slide__main {
    display: flex;
    align-items: flex-start;
}
.swiper__member_review {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.quote__title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
    color: rgba(174, 174, 178, 1) ;
}
.swiper__titls_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.swiper__slide_but {
    width: 79px;
    height: 38px;
    color: rgba(6, 75, 180, 1);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgba(233, 235, 237, 1);
    transition: 0.3s ease;
    line-height: 22px;
    border-radius: 20px;
    &:hover {
        transform: scale3d(1.2, 1.2, 1.2);
        color: #ffffff;
        transition: 0.3s ease;
        background-color: rgba(6, 75, 180, 1);
    }
}
.swiper__slide_title {
margin: 16px 0px 48px 0px;
max-width: 317px;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;
}
.swiper__content {
    margin-left: 16px;
    margin-bottom: 32px;
}
.swiper__paragraph {
    max-width: 605px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.davis__swiper {
    margin-top: 32px;
    display: flex;
    align-items: center;
}
.davis__titles {
    margin-left: 12px;
}
.davis_name {
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: rgba(0, 0, 0, 1);
}
.status__swiper {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}
.swiper__controller {
    display: flex;
}
.swiper__hidden {
    position: relative;
    transform: translate3D(2500px,0px,-2500px);
    transition: 1s ease;
    }
[data-active] {
 position: absolute;
}
.all__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.buttons {
    position: relative;
    display: flex;
}
.all__content__pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media(max-width:545.99px) {
    .swiper__paragraph {
        font-size: 18px;
    }
}